* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(228, 227, 227, 0.87);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #222831;
    border-radius: 10rem;
}

/*-----------navigation-----------*/

.navigation{
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #EEEEEE;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"MONO" 1;
    transition: 0.5s;
    z-index:100000;
}

.navigation:hover{
    width: 240px;
}

.navigation :where(p, h4, #helpCenter){
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.navigation:hover{
    width: 240px;
}

.navigation:hover.navigation :where(p, h4, #helpCenter){
    visibility:visible;
    opacity: 1;
}

.navigation .logo{
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
}

.navigation .logo img{
    width: 100%;
    object-fit: fill;
}

.navigation .item
{
    width: 100%;
    min-width: 200px;
}

.navigation .item :where(.route, .account)
{
    margin: 2rem 0;
}

.navigation .item a{
    text-decoration: none;
}

.navigation .item ul{
    margin: 0;
    padding: 0;
}

.navigation .item ul li{
    list-style-type: none;
    color: #222831bd;
    height: 46px;
    margin-bottom: 12px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"MONO" 1;
}

.navigation .item ul li p {
    position: relative;
    margin: 0;
}

.item :where(.route, .account) ion-icon {
    font-size: 25px;
    height: 100%;
    margin-right: 15px;
    font-weight: 500;
}

.account h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.navigation .item ul li#here::before{
    content: "";
    background-color: #222831;
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 0 5px 5px 0;
    left: 0;
}

.navigation .item ul li:hover{
    color: #222831;
}

.navigation .item ul li#here {
    color: #222831;
}

.help-center{
    visibility: hidden;
    background-color: #76ABAE;
    width: 216px;
    margin-top: 2rem;
    margin-inline: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    color: #222831;
}

.help-center span {
    height: 60px;
    width: 60px;
    background-color: #EEEEEE;
    position: absolute;
    top: -26px;
    border-radius: 50px;
    display: flex;
    justify-self: center;
    align-items: center;
    box-shadow: 0px 21px 12px -5px rgba(0,0,0,0.1);
}

.help-center span ion-icon {
    font-size: 25px;
    margin: auto;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: #76ABAE;
    color: #222831;
}

.help-center h3{
    margin-top: 30px;
}

.help-center p{
    text-wrap: balance ;
    font-size: 15px;
    text-align: center;
    width: 120%;
    z-index: 10;
}

.btn-help{
    height: 40px;
    z-index: 10;
    background-color: #EEEEEE;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-family: "Sono", monospace;
    font-style: normal;
    text-wrap: nowrap;
    text-align: center;
    box-shadow: 0px 21px 12px -5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.btn-help:hover {
    box-shadow: none;
    transition: 0.3s;
}


.help-center #glass {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}

.help-center #glass::before,
.help-center #glass::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: #eeeeeea6;
}

.help-center #glass::before {
    height: 100px;
    width: 100px;
    top: -40px; 
    left: -60px; 
}

.help-center #glass::after {
    bottom: -70px;
    right: -70px;
    height: 150px;
    width: 150px;
}

/*-----------Section-----------*/

section{
    margin-left: 65px;
    padding: 10px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.welcome-box h1{
    font-size: 40px;
}

.welcome-box h4{
    font-weight: 400;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    z-index: 1000;
}

.search-box span {
    display: flex;
    height: 40px;
    width: 380px;
    padding: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
}

.search-box span input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
    font-size: 15px;
}

.search-box span button{
    width: 30px;
    background-color: transparent;
    border: none;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-box{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box  :where(.user-avt, .notification){
    background-color: #EEEEEE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}

.user-box #user-avatar{
    height: 100%;
    width: 100%;
}

/* --------Dashboard container---------- */

.container{
    margin-top:  2rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 1rem;
}

.container .item-box{
    z-index: 10;
    border-radius: 10px;
    transition: 0.3s;
}

.container div h2 {
    margin-bottom: 10px;
}

.chart
{
    background-color: #EEEEEE;
    padding: 30px;
    position: relative;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
}

#chartjs-line{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.container .chart:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.295);
}

.chart span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectTime {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222831;
    outline: none;
    height: 20px;
    width: 70px;
    display: flex;
    justify-content: center;
    border-radius: 0;
    position: relative;
}

.function {
    display: grid;
    background-color: transparent;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

#item1, #item2, #item3 {
    grid-column: 1;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#item1, #item2, #item3, #item5{
    min-width: 350px;
    max-height: 120px;
}

#item1, #item2, #item5 {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#item1 .icon{
    color: #d23100;
    background-color: #d2310038;
}

#item2 .icon{
    color: #4d7bfc;
    background-color: #b2c5f870;
}

#item5 .icon{
    color: #627254;
    background-color: #a3d37970;
}

#item1 .icon, #item2 .icon, #item5 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    width: 80px;
    height: 80px;
    border-radius: 50%; /* Biến thành hình tròn */
}


#item1 .text ,#item2 .text, #item5 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#item1 .text p:first-child, #item2 .text p:first-child, #item5 .text p:first-child {
    font-size: 30px;
    font-weight: 700;
}

#item1 .text ion-icon, #item2 .text ion-icon, #item2 .text ion-icon{
    border-radius: 50%;
}

#item3{
    display: flex;
    justify-content: stretch;
    align-items: center;
    background-color: #cdd8f0;
}

#item4 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.function .item {
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    border-radius: 10px;
    transition: 0.3s;
}

.function .item:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.295);
}

.long-div{
    background-color: #EEEEEE;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
}

.long-div:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.295);
}

#weatherWidget{
    max-height: 150px;
    height: 90%;
    width: 100%;
    padding: 0 15px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-columns: 1fr 2fr ;
    align-self: center;
}

.city-name{
    grid-column-start: 1;
    grid-column-end: 3;
}

#weatherIcon{
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    align-self: center;
}

#weatherWidget span{
    grid-row-start: 2
}

#weatherWidget span{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

#weatherWidget span span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#weatherWidget span .symbol {
    color: rgb(216, 85, 85);
    font-weight: 700;
}

#weatherWidget span span h3{
    font-size: 40px;
    font-weight: 500;
}

#weatherWidget span span .feel-temp{
    height: 2rem;
    padding: 5px 10px;
    background-color: rgb(216, 85, 85);
    text-align: center;
    color: #EEEEEE;
    border-radius: 10rem;
}





























#wrap {
    width: 100%;
    display: flex;
    margin: 0 auto;
    }

#external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    text-align: left;
    }

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }

#external-events p input {
    margin: 0;
    vertical-align: middle;
    }

#calendar {
/* 		float: right; */
    width: 100%;
    background-color: #FFFFFF;
      border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    }
