* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(228, 227, 227, 0.87);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #222831;
    border-radius: 10rem;
}

/*-----------navigation-----------*/

.navigation{
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    background-color: #EEEEEE;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"MONO" 1;
    transition: 0.5s;
    z-index:100000;
}

.navigation:hover{
    width: 240px;
}

.navigation :where(p, h4, #helpCenter){
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.navigation:hover{
    width: 240px;
}

.navigation:hover.navigation :where(p, h4, #helpCenter){
    visibility:visible;
    opacity: 1;
}

.navigation .logo{
    display: flex;
    align-items: center;
    height: 84px;
    width: 100%;
}

.navigation .logo img{
    width: 100%;
    object-fit: fill;
}

.navigation .item
{
    width: 100%;
    min-width: 200px;
}

.navigation .item :where(.route, .account)
{
    margin: 2rem 0;
}

.navigation .item a{
    text-decoration: none;
}

.navigation .item ul{
    margin: 0;
    padding: 0;
}

.navigation .item ul li{
    list-style-type: none;
    color: #222831bd;
    height: 46px;
    margin-bottom: 12px;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
    font-family: "Sono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"MONO" 1;
}

.navigation .item ul li p {
    position: relative;
    margin: 0;
}

.item :where(.route, .account) ion-icon {
    font-size: 25px;
    height: 100%;
    margin-right: 15px;
    font-weight: 500;
}

.account h4 {
    margin-left: 20px;
    margin-bottom: 10px;
}

.navigation .item ul li#here::before{
    content: "";
    background-color: #222831;
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 0 5px 5px 0;
    left: 0;
}

.navigation .item ul li:hover{
    color: #222831;
}

.navigation .item ul li#here {
    color: #222831;
}

.help-center{
    visibility: hidden;
    background-color: #76ABAE;
    width: 216px;
    margin-top: 2rem;
    margin-inline: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
    color: #222831;
}

.help-center span {
    height: 60px;
    width: 60px;
    background-color: #EEEEEE;
    position: absolute;
    top: -26px;
    border-radius: 50px;
    display: flex;
    justify-self: center;
    align-items: center;
    box-shadow: 0px 21px 12px -5px rgba(0,0,0,0.1);
}

.help-center span ion-icon {
    font-size: 25px;
    margin: auto;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: #76ABAE;
    color: #222831;
}

.help-center h3{
    margin-top: 30px;
}

.help-center p{
    text-wrap: balance ;
    font-size: 15px;
    text-align: center;
    width: 120%;
    z-index: 10;
}

.btn-help{
    height: 40px;
    z-index: 10;
    background-color: #EEEEEE;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-family: "Sono", monospace;
    font-style: normal;
    text-wrap: nowrap;
    text-align: center;
    box-shadow: 0px 21px 12px -5px rgba(0,0,0,0.1);
    cursor: pointer;
}

.btn-help:hover {
    box-shadow: none;
    transition: 0.3s;
}


.help-center #glass {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}

.help-center #glass::before,
.help-center #glass::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    background-color: #eeeeeea6;
}

.help-center #glass::before {
    height: 100px;
    width: 100px;
    top: -40px; 
    left: -60px; 
}

.help-center #glass::after {
    bottom: -70px;
    right: -70px;
    height: 150px;
    width: 150px;
}

/*-----------Section-----------*/

section{
    margin-left: 65px;
    padding: 10px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.welcome-box h1{
    font-size: 40px;
}

.welcome-box h4{
    font-weight: 400;
    margin-top: 5px;
}

.search-box{
    position: absolute;
    left: 50%;
    z-index: 1000;
}

.search-box span {
    display: flex;
    height: 40px;
    width: 380px;
    padding: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.search-box span input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 85%;
    height: 100%;
    font-size: 15px;
}

.search-box span button{
    width: 30px;
    background-color: transparent;
    border: none;
    height: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-box{
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-box  :where(.user-avt, .notification){
    background-color: #EEEEEE;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50px;
    width: 50px;
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);
    overflow: hidden;
}

.user-box #user-avatar{
    height: 100%;
    width: 100%;
}

/* --------Management container---------- */
.container
{
    display: flex;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container .search{
    position: relative;
    width: 40%;
    transition: 0.3s;
    border-radius: 20px;
    height: fit-content;
    padding: 10px 0px;
    background-color: #EEEEEE;
}

.container .search:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.container .search h1{
    text-align: center;
    margin: 10px;
    font-size: 30px;
}
    /* css o input */
.container .search :where(.main-search, .more-search, .ativated-point){
    position: relative;
    width: 80%;
    margin: 10px 0px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    font-size: 16px;
}

.container .search .more-search{
    display: none;
}

.container .search .more-search.active{
    display: block;
}

.container .search input:not(#minPrice, #maxPrice){
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px ;
    border-radius: 15px;
}

.container .search :where(#minPrice, #maxPrice){
    height: 30px;
    width: 49.5%;
    padding: 0px 10px;
    margin-bottom: 10px ;
    border-radius: 15px;
}

.container .search input::placeholder{
    color: #0000BB;
}

    /* css nut search */
.container .search .ativated-point .animation{
    height: 34px;
    width: 105px;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.container .search .ativated-point .animation button{
    position: relative;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color:#00FF00;
    border: none;
    cursor: pointer;
}
.container .search .ativated-point .animation::after{
    content: '';
    position: absolute;
    background: conic-gradient(red 0deg,transparent 180deg,green 180deg, transparent 360deg);
    height: 105px;
    width: 105px;
    z-index: -1;
    display: none;
}
.container .search .ativated-point .animation:hover:after {
    display: block;
    animation-duration: 0.7s;
    animation-name: lineRun;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes lineRun{
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.container .search .ativated-point .extend-search{
    position: absolute;
    right: 20px;
    top: 20%;
    cursor: pointer;
    
}
.container .search .ativated-point .extend-search.active{
    transform: rotate(180deg);
}

    /* css phan update */
.container .update{
    position: relative;
    width: 40%;
    padding: 10px 0px;
    box-shadow: 0px 0px 36px 18px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 3%;
    height: fit-content;
    display: none;
}

.container .update.active{
    display: block;
}

.container .update h1{
    text-align: center;
    margin: 10px;
}

.container .update form{
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.container .update input:not(#sizeUpdate,#quantityUpdate){
    height: 30px;
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.container .update #sizeUpdate{
    width: 15%;
    height: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.container .update #quantityUpdate{
    width: 84%;
    height: 30px;
    padding: 0px 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.container .update .animation{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    place-items: center;
    overflow: hidden;
    height: 34px;
    width: 105px;
    border-radius: 12px;
}

.container .update button{
    position: relative;
    height: 30px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}
.container .update .animation::after{
    content: '';
    position: absolute;
    background: conic-gradient(red 0deg,transparent 180deg,green 180deg, transparent 360deg);
    height: 105px;
    width: 105px;
    z-index: -1;
    display: none;
}

.container .update .animation:hover:after {
    display: block;
    animation-duration: 0.7s;
    animation-name: lineRun;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

    /* css cho phan san pham sau tim */
.containerProduct{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.products-result{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 16px;
    width: 300px;
    background-color: #EEEEEE;
    position: relative;
    max-height: 500px;
    /* box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15); */
    margin: 0 1rem 1rem 1rem;
    transition: 0.3s;
}

.product-card:hover{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.product-image {
    max-height: 268px;
    width: 100%;
    border-radius: 0.5rem;
}

.product-info {
    margin-top: 16px;
}

.product-title {
    font-size: 20px;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Số dòng tối đa bạn muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-description {
    display: -webkit-box;
    font-size: 16px;
    color: #666;
    margin-bottom: 8px;
    -webkit-line-clamp: 2; /* Số dòng tối đa bạn muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

#productPrice{
    display: flex;
}

#newPrice{
    color: #E72929;
    font-size: 20px;
    font-weight: 600; 
    padding-left: 10px;
}

.sale-product::before {
    content: 'Sale 'attr(data-sale);
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    color: #EEEEEE;
    font-size: 15px;
    font-weight: 600;
    top: 0px;
    background-color: #E72929;
    right: 0; /* Thay đổi màu và độ dày viền theo ý muốn */
    border-radius: 0 1rem 0 1rem; /* Đảm bảo viền làm tròn theo góc của sản phẩm */
    pointer-events: none;
}

.sale-product .old-price{
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}


.popular-product::before {
    content: 'Popular 🔥';
    display: flex;
    text-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    color: #EEEEEE;
    font-size: 15px;
    font-weight: 600;
    top: 0px;
    background-color: #76885B;
    right: 0; /* Thay đổi màu và độ dày viền theo ý muốn */
    border-radius: 0 1rem 0 1rem; /* Đảm bảo viền làm tròn theo góc của sản phẩm */
    pointer-events: none;
}

.toggle-btn input {
    display: none;
}
  
  /* Thiết lập kiểu của toggle button */
.toggle-btn {
    display: inline-block;
}

.category{
    width: 100%;
}

.category span{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.5rem;
    gap: 0.3rem;
    width: 100%;
}

.content {
    cursor: pointer;
    transition: 0.2s;
}

.fake-checkbox{
    width: 1rem;
    height: 1rem;
    position: absolute;
    border-radius: 10rem;
    background-color: transparent;
    color: #EEEEEE;
}

.fake-checkbox img {
    width: 100%;
    height: 100%; /* Đảm bảo ảnh lấp đầy kích thước của checkbox */
    object-fit: cover;
    opacity: 0;
    filter: invert(100%);
}

.content::after{
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    border-radius: 1rem;
}

.choosed-shoes:checked + .content::after {
    border: 2px solid #3559E0; /* Viền màu xanh khi checkbox được chọn */
}


.containerProduct .text {
    width: 80%;
    display: flex;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 2rem 0 1rem 0;
}

.containerProduct .text .select-all-text{
    cursor: pointer;
    background-color: #22283115;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    color: #3559E0;
}

.containerProduct .text .selected-text{
    margin-left: auto;
    padding: 0.5rem 1rem;
}

.containerProduct .text .selected-text i{
    color: #E72929;
}
